.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 16px;
    color: #FFFFFF;
    background-color: #333333;
}

    .navbar-wrapper .navbar-title {
        font-size: 20px;
    }

    .navbar-wrapper .navbar-right {
        display: flex;
        gap: 15px;
    }

    .navbar-wrapper .navbar-item {
        padding: 8px 12px;
        border-radius: 4px;
        border: none;
        background: #686868;
        color: #FFFFFF;
        cursor: pointer;
        text-decoration: none;
        transition: background 0.15s;
    }

        .navbar-wrapper .navbar-item:hover {
            color: #333333;
            background: #BEBEBE;
        }
