<div class="styles-section-wrapper">
    <div class="styles-wrapper">
        <div class="styles-header-text">BROWSE BY DRESS STYLE</div>
        <div class="style-cards">
            <div class="style-item">
                <div class="style-item-text">Casual</div>
                <div class="style-image-wrapper">
                    <img class="style-image casual-image" src="images/casual-style.png" />
                </div>
            </div>
            <div class="style-item wide-style-item">
                <div class="style-item-text">Formal</div>
                <div class="style-image-wrapper formal-image">
                    <img class="style-image formal-image" src="images/formal-style.png" />
                </div>
            </div>
            <div class="style-item wide-style-item">
                <div class="style-item-text">Party</div>
                <div class="style-image-wrapper party-image">
                    <img class="style-image party-image" src="images/party-style.png" />
                </div>
            </div>
            <div class="style-item">
                <div class="style-item-text">Gym</div>
                <div class="style-image-wrapper gym-image">
                    <img class="style-image gym-image" src="images/gym-style.png" />
                </div>
            </div>
        </div>
    </div>
</div>
