.product-rating {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.product-rating .rating-stars {
    display: flex;
}

.product-rating .rating-text {
    margin-left: 1rem;
    font-family: 'Satoshi Regular', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
}
