.product-price {
    display: flex;
    align-items: center;
    font-family: 'Satoshi Bold', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    margin-top: 8px;
    gap: 0 10px;
}

.product-price .old-price {
    opacity: 0.4;
    text-decoration: line-through;
}

.product-price .discount {
    border-radius: 64px;
    background-color: rgba(255, 51, 51, 0.1);
}

.product-price .discount .discount-text {
    font-family: 'Satoshi Medium', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    opacity: 1;
    color: #FF3333;
    padding: 2px 12px;
}