@using StoreApp.Client.Components.ComponentFiles.Buttons.BasicButton
@using StoreApp.Client.Components.ComponentFiles.SvgFiles
<div class="review-list-wrapper">
    <div class="review-list-header">
        <div class="review-list-title">
            <h3 class="title">All Reviews</h3>
            <span class="count">(@Reviews.Count)</span>
        </div>

        <div class="review-actions">
            <button class="filter-button">
                <SvgFilterComponent/>
            </button>
            <div>
                <button class="date-filter-button">
                    Latest
                    <SvgDropdownArrowComponent></SvgDropdownArrowComponent>
                </button>
                
            </div>
            <button class="create-review-button">Write a Review</button>
        </div>
    </div>

    <div class="review-list">
        @foreach (var review in Reviews)
        {
            <ProductReview Review="@review" />
        }
    </div>

    <div class="all-review-wrapper">
        <div class="load-button-wrapper">
            <div class="load-button">
                <BasicButtonComponent Text="Load More Reviews" IsRevert="true" />
            </div>
        </div>
    </div>
</div>