.page-layout {
    display: flex;
}

.main-layout {
    display: flex;
    flex: 1;
    flex-direction: column;
    transition: margin-left 0.3s ease;
}

    .main-layout.sidebar-closed {
        margin-left: 60px;
    }

    .main-layout.sidebar-open {
        margin-left: 200px;
    }

.top-row {
    display: flex;
    align-items: center;
    height: 60px;
    color: #FFFFFF;
    background-color: #222222;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.content {
    flex: 1;
    padding: 16px;
    overflow: auto;
}
