@using StoreApp.Admin.Client.Components.ComponentsFiles.Navbar
@using StoreApp.Admin.Client.Components.ComponentsFiles.Sidebar
@inherits LayoutComponentBase

<div class="layout-container">
    <NavbarComponent />

    <div class="content-layout">
        <SidebarComponent StartOpen="sidebarOpen" OnSidebarToggle="SidebarToggled" />
        <main class="main-content @(sidebarOpen ? "sidebar-open" : "sidebar-closed")">
            @Body
        </main>
    </div>
</div>