<div class="counter-controls">
    <button @onclick="Decrement" class="minus-button">-</button>
    <span class="counter-value">@Value</span>
    <button @onclick="Increment" class="plus-button">+</button>
</div>
