@using StoreApp.Client.Components.ComponentFiles.SvgFiles.Brands


<div class="brands-section-wrapper">
    <div class="brands-wrapper">
        <div class="brand-item">
            <SvgVersaceBrandComponent Width="100%" Height="100%" />
        </div>
        <div class="brand-item">
            <SvgZaraBrandComponent Width="100%" Height="100%" />
        </div>
        <div class="brand-item">
            <SvgGucciBrandComponent Width="100%" Height="100%" />
        </div>
        <div class="brand-item">
            <SvgPradaBrandComponent Width="100%" Height="100%" />
        </div>
        <div class="brand-item">
            <SvgCalvinKleinComponent Width="100%" Height="100%" />
        </div>
    </div>
</div>