@using StoreApp.Client.Components.ComponentFiles.SvgFiles
<div class="review-wrapper">
    <div class="review">
        <div class="review-rating">
            <SvgRatingStarComponent Width="24" Height="24" />
            <SvgRatingStarComponent Width="24" Height="24" />
            <SvgRatingStarComponent Width="24" Height="24" />
            <SvgRatingStarComponent Width="24" Height="24" />
            <SvgRatingStarComponent Width="24" Height="24" />
        </div>
        <div class="review-author">
            <div class="author-text">Alex K.</div>
            <div class="verified-customer">
                <SvgСheckedComponent />
            </div>
        </div>
        <div class="review-text">
            "Finding clothes that align with my personal style used to be a challenge until I discovered Shop.co. The range of options they offer is truly remarkable, catering to a variety of tastes and occasions.”
        </div>
    </div>
</div>