@page "/"

@using StoreApp.Client.Components.ComponentFiles.Promo
@using StoreApp.Client.Components.ComponentFiles.Header
@using StoreApp.Client.Components.Pages.Home.Components.Start
@using StoreApp.Client.Components.Pages.Home.Components.Brands
@using StoreApp.Client.Components.Pages.Home.Components.PromotedProducts


<PromoComponent />
<HeaderComponent />
<div class="home-page-wrapper">
    <StartComponent />
    <BrandsComponent />
    <div class="products-wrapper">
        <PromotedProductsComponent HeaderText="NEW ARRIVALS" ProductList="NewArrivals" />
        <div class="separator-wrapper">
            <div class="separator"></div>
        </div>
        <PromotedProductsComponent HeaderText="TOP SELLING" ProductList="TopSelling" />
    </div>
</div>