.file-upload input[type="file"] {
    display: none;
}

.file-label {
    display: inline-block;
    padding: 12px 16px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #339B6A;
    cursor: pointer;
    transition: background-color 0.2s;
}

    .file-label:hover {
        background-color: #246D4B;
    }

.file-name {
    margin-top: 8px;
    font-size: 12px;
    color: #222222;
}
