@using StoreApp.Client.Components.ComponentFiles.CardItem


<div class="promoted-products-wrapper">
    <div class="promoted-products">
        <div class="head-text">@HeaderText</div>
        <div class="cards-list-wrapper">
            <CardItemComponent
                ImageSrc="/images/card-item-1.png"
                Title="T-shirt with Tape Details"
                Rating="4.5"
                RatingText="4.5/5"
                CurrentPrice="$120" />

            <CardItemComponent
                ImageSrc="/images/card-item-2.png"
                Title="Skinny Fit Jeans"
                Rating="3.5"
                RatingText="3.5/5"
                CurrentPrice="$240"
                OldPrice="$260"
                Discount="-20%" />

            <CardItemComponent
                ImageSrc="/images/card-item-3.png"
                Title="Checkered Shirt"
                Rating="4.5"
                RatingText="4.5/5"
                CurrentPrice="$180" />

            <CardItemComponent
                ImageSrc="/images/card-item-4.png"
                Title="Sleeve Striped T-shirt"
                Rating="4.5"
                RatingText="4.5/5"
                CurrentPrice="$130"
                OldPrice="$160"
                Discount="-30%" />
        </div>
        @if (IsVisibleViewAllButton)
        {
            <div class="view-all-button-wrapper">
                <button class="view-all-button">View All</button>
            </div>
        }
    </div>
</div>