.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    width: 60px;
    color: #FFFFFF;
    background-color: #333333;
    transition: width 0.3s ease;
    overflow: hidden;
}

    .sidebar-wrapper.open {
        width: 200px;
    }

    .sidebar-wrapper .sidebar-content {
        flex: 1;
    }

    .sidebar-wrapper .sidebar-toggle-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .sidebar-wrapper .sidebar-button {
        display: flex;
        align-items: center;
        width: 100%;
        height: 60px;
        padding: 16px;
        color: white;
        background-color: #444444;
        border: none;
        border-radius: 0;
        cursor: pointer;
        transition: background-color 0.2s;
    }

        .sidebar-wrapper .sidebar-button:hover {
            background-color: #555555;
        }

    .sidebar-wrapper .icon {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        filter: brightness(0) invert(1);
    }

    .sidebar-wrapper .label {
        margin-left: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .sidebar-wrapper .dropdown-arrow {
        width: 24px;
        height: 24px;
        transition: transform 0.3s ease;
        margin-left: auto;
    }

        .sidebar-wrapper .dropdown-arrow.open {
            transform: rotate(180deg);
        }

    .sidebar-wrapper .dropdown-menu-wrapper {
        max-height: 0;
        transition: max-height 0.3s ease;
        overflow: hidden;
    }

        .sidebar-wrapper .dropdown-menu-wrapper.open {
            max-height: 300px;
        }

    .sidebar-wrapper .custom-dropdown-menu {
        background-color: #444444;
    }

    .sidebar-wrapper .dropdown-item {
        display: block;
        text-align: left;
        width: 100%;
        padding: 12px 16px 12px 48px;
        border: none;
        color: #FFFFFF;
        background: #555555;
        border-radius: 0;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

        .sidebar-wrapper .dropdown-item:hover {
            background-color: #666666;
        }

        .sidebar-wrapper .sidebar-button:active,
        .sidebar-wrapper .dropdown-item:active,
        .sidebar-wrapper .sidebar-toggle-button:active {
            transform: none;
        }