@page "/"
@using StoreApp.Client.Components.ComponentFiles.Promo
@using StoreApp.Client.Components.ComponentFiles.SvgFiles
@using StoreApp.Client.Components.ComponentFiles.SvgFiles.Brands


<PromoComponent />
<div class="header-section-wrapper">
    <div class="header-block-container">
        <div class="menu-icon-wrapper">
            <SvgMenuComponent />
        </div>

        <div class="logo-wrapper">
            <div class="logo">SHOP.CO</div>
        </div>

        <div class="navbar-wrapper">
            <div class="navbar-item dropdown">
                Shop
                <SvgDropdownArrowComponent />
            </div>
            <div class="navbar-item">On Sale</div>
            <div class="navbar-item">New Arrivals</div>
            <div class="navbar-item">Brands</div>
        </div>

        <div class="searchbar-wrapper">
            <div class="searchbar">
                <div class="magnifier-logo">
                    <SvgMagnifierComponent />
                </div>
                <input type="text" placeholder="Search for products..." />
            </div>
        </div>

        <div class="user-actions-wrapper">
            <div class="user-actions">
                <SvgShoppingCartComponent />
                <SvgUserProfileComponent />
            </div>
        </div>
    </div>
</div>
<div class="start-section-wrapper">
    <div class="start-inner-wrapper">
        <div class="block-container">
            <div class="headline">
                FIND CLOTHES THAT MATCHES YOUR STYLE
            </div>
            <div class="description">
                Browse through our diverse range of meticulously crafted garments,
                designed to bring out your individuality and cater to your sense of style.
            </div>
            <div class="shop-button-wrapper">
                <button class="shop-button">Shop Now</button>
            </div>
            <div class="metrics-wrapper">
                <div class="metrics-row">
                    <div class="metric-item">
                        <div class="metric-count">200+</div>
                        <div class="metric-text">International Brands</div>
                    </div>
                    <div class="separator"></div>
                    <div class="metric-item">
                        <div class="metric-count">2,000+</div>
                        <div class="metric-text">High-Quality Products</div>
                    </div>
                    <div class="separator second-separator"></div>
                </div>
                <div class="metric-item">
                    <div class="metric-count">30,000+</div>
                    <div class="metric-text">Happy Customers</div>
                </div>
            </div>
        </div>
        <div class="hero-container">
            <div class="stars-wrapper">
                <div class="big-star">
                    <SvgStarComponent Width="100%" Height="100%" />
                </div>
                <div class="small-star">
                    <SvgStarComponent Width="100%" Height="100%" />
                </div>
            </div>
            <img class="hero-image" src="/images/homepage-hero.jpg" />
        </div>
    </div>
</div>
<div class="brands-section-wrapper">
    <div class="brands-wrapper">
        <div class="brand-item">
            <SvgVersaceBrandComponent Width="100%" Height="100%" />
        </div>
        <div class="brand-item">
            <SvgZaraBrandComponent Width="100%" Height="100%" />
        </div>
        <div class="brand-item">
            <SvgGucciBrandComponent Width="100%" Height="100%" />
        </div>
        <div class="brand-item">
            <SvgPradaBrandComponent Width="100%" Height="100%" />
        </div>
        <div class="brand-item">
            <SvgCalvinKleinComponent Width="100%" Height="100%" />
        </div>
    </div>
</div>
<div class="new-arrivals-wrapper">
    <div class="new-arrivals">
        <div class="head-text">NEW ARRIVALS</div>
        <div class="cards-list-wrapper">
            <div class="card-item">
                <div class="card-item-image-wrapper">
                    <img class="card-item-image" src="/images/card-item-1.png">
                </div>
                <div class="card-item-title">T-shirt with Tape Details</div>
                <div class="card-item-rating">
                    <div class="rating-stars">
                        <SvgRatingStarComponent />
                        <SvgRatingStarComponent />
                        <SvgRatingStarComponent />
                        <SvgRatingStarComponent />
                        <SvgRatingStarComponent />
                    </div>
                    <div class="rating-text">4.5/5</div>
                </div>
                <div class="card-item-price">
                    <div class="current-price">$120</div>
                </div>
            </div>
            <div class="card-item">
                <div class="card-item-image-wrapper">
                    <img class="card-item-image" src="/images/card-item-2.png">
                </div>
                <div class="card-item-title">Skinny Fit Jeans</div>
                <div class="card-item-rating">
                    <div class="rating-stars">
                        <SvgRatingStarComponent />
                        <SvgRatingStarComponent />
                        <SvgRatingStarComponent />
                        <SvgRatingStarComponent />
                    </div>
                    <div class="rating-text">3.5/5</div>
                </div>
                <div class="card-item-price">
                    <div class="current-price">$240</div>
                    <div class="old-price">$260</div>
                    <div class="discount">
                        <div class="discount-text">-20%</div>
                    </div>
                </div>
            </div>
            <div class="card-item">
                <div class="card-item-image-wrapper">
                    <img class="card-item-image" src="/images/card-item-3.png">
                </div>
                <div class="card-item-title">Checkered Shirt</div>
                <div class="card-item-rating">
                    <div class="rating-stars">
                        <SvgRatingStarComponent />
                        <SvgRatingStarComponent />
                        <SvgRatingStarComponent />
                        <SvgRatingStarComponent />
                        <SvgRatingStarComponent />
                    </div>
                    <div class="rating-text">4.5/5</div>
                </div>
                <div class="card-item-price">
                    <div class="current-price">$180</div>
                </div>
            </div>
            <div class="card-item">
                <div class="card-item-image-wrapper">
                    <img class="card-item-image" src="/images/card-item-4.png">
                </div>
                <div class="card-item-title">Sleeve Striped T-shirt</div>
                <div class="card-item-rating">
                    <div class="rating-stars">
                        <SvgRatingStarComponent />
                        <SvgRatingStarComponent />
                        <SvgRatingStarComponent />
                        <SvgRatingStarComponent />
                        <SvgRatingStarComponent />
                    </div>
                    <div class="rating-text">4.5/5</div>
                </div>
                <div class="card-item-price">
                    <div class="current-price">$130</div>
                    <div class="old-price">$160</div>
                    <div class="discount">
                        <div class="discount-text">-30%</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="view-all-button-wrapper">
            <button class="view-all-button">View All</button>
        </div>
    </div>
</div>
