@using StoreApp.Client.Components.ComponentFiles.SvgFiles


<div class="promo-section-wrapper">
    <div class="promo-wrapper">
        <div class="promo-text">
            Sign up and get 20% off to your first order.&#160;
            <div class="underline-text"> Sign Up Now</div>
        </div>
        <div class="promo-close">
            <SvgCloseComponent />
        </div>
    </div>
</div>