@inject IAuthApiService AuthApiService

@page "/login"

<button @onclick="DoLogin">Login</button>
<button @onclick="Logout">Logout</button>

<p>Auth: @AuthApiService.IsAuthenticated</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        AuthApiService.AuthStateChanged += OnAuthStateChanged;
        await AuthApiService.InitializeAsync();
    }

    private void OnAuthStateChanged(bool isAuth)
    {
        InvokeAsync(StateHasChanged);
    }

    private async Task DoLogin()
    {
        bool success = await AuthApiService.LoginAsync("test123@gmail.com", "Test");
    }

    private async Task Logout()
    {
        await AuthApiService.LogoutAsync();
    }

    public void Dispose()
    {
        AuthApiService.AuthStateChanged -= OnAuthStateChanged;
    }
}
