@page "/products"
@inject IProductApiService ProductApiService

<h3>Products list</h3>

@if (products == null)
{
    <p>Loading...</p>
}
else if (!products.Any())
{
    <p>No products available</p>
}
else
{
    <ul>
        @foreach (var product in products)
        {
            <li>
                <strong>@product.Name</strong> — @product.Price UAH
            </li>
        }
    </ul>
}

@code {
    private List<ProductModel>? products;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductApiService.GetAllProductsAsync();
    }
}
